<h1>Bienvenido {{ nombre }}!</h1>

<p>
    Quedaste registrado con el correo {{ email.to[0].address }} - {{ email.toName }}.

<p>
    <a href="{{ verificar_en }}">Click aquí para activar tu cuenta</a>
    (link válido por 1 hora}})
</p>
